@import url('./src/poktypes.css');

body{
  background-image: url("./src/PE_Kanto_Map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}


@media (orientation: portrait) {
  body{
    background-size: auto, 100%;
  }
}

.base{
  width: 373px;
  height: 99%;
  background: #cf0a0a;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #8c0b0b;
  outline: 3px solid #300101;
}

.top{
  height: 130px;
  background: #EA2121;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.30), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  overflow: auto;
  display: flex;
  position: relative;
}

.baseCristal{
  width: 70px;
  height: 70px;
  margin-left: 10px;
  margin-top: 15px;
  background: #F7FCFC;
  border: 3px solid #E0E0E0;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  
}

.cristal{
  width: 55px;
  height: 55px;
  background: #4DE3E3;
  box-shadow: inset -8px -5px 4px rgba(0, 0, 0, 0.40);
  border-radius: 50px;
  margin: auto;
  margin-top: 7px;
}

.cristalReflex{
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 50px;
}

.red {
  width: 12px;
  height: 12px;
  margin-top: 15px;
  margin-left: 12px;
  border-radius: 50px;
  border: double 4px transparent;
  background-image: linear-gradient(#B61818, #B61818), /* cor interna */
                    linear-gradient(to right, #a10e0e, #fa5050);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: inset -1px 0px 2px rgba(0, 0, 0, 0.60), inset -2px -2px 2px rgba(0, 0, 0, 0.60);
}

:after {
  content: "";
  position: absolute;
  top: 8px;
  transform: translate(-9px, 2px);
  height: 30px;
  width: 30px;
}

.red:after {
  background: radial-gradient(rgba(250, 182, 182, 0.9) 6%, rgba(250, 120, 120, 0.4) 40%, rgba(250, 182, 182, 0.01) 80%);
  border-radius: 30px;
  visibility: var(--visibility);
}

.yellow {
  width: 12px;
  height: 12px;
  margin-top: 15px;
  margin-left: 12px;
  /*abaixo o efeito em degradê*/
  border-radius: 30px;
  border: solid 4px transparent;
  background-image: linear-gradient(#9B9F14, #9B9F14), /* cor interna */
            linear-gradient(to right, #a10e0e, #fa5050);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: inset -1px 0px 2px rgba(0, 0, 0, 0.60), inset -2px -2px 2px rgba(0, 0, 0, 0.60);
}


.yellow:after {
  background: radial-gradient(rgba(253, 255, 163, 0.9) 6%, rgba(245, 247, 119, 0.4) 40%, rgba(253, 255, 163, 0.01) 80%);
  border-radius: 30px;
  visibility: var(--visibility);
}

.green {
  width: 12px;
  height: 12px;
  margin-top: 15px;
  margin-left: 12px;
  background: #13A72A;
  border-radius: 50px;
  border: double 4px transparent;
  background-image: linear-gradient(#13A72A, #13A72A), /* cor interna */
                    linear-gradient(to right, #a10e0e, #fa5050);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: inset -1px 0px 2px rgba(0, 0, 0, 0.60), inset -2px -2px 2px rgba(0, 0, 0, 0.60);
} 

.green:after {
  background: radial-gradient(rgba(198, 250, 165, 0.9) 6%, rgba(170, 247, 119, 0.4) 40%, rgba(253, 255, 163, 0.01) 80%);
  border-radius: 30px;
  visibility: var(--visibility);
}

.pokedexlogo {
  padding-top: 40px;
  padding-left: 25px;
  height: 60px;
  width: 150px;
  transform: rotate(-18deg);
}

.baseScreen {
  margin-top: 15px;
  width: 216px;
  height: 159px;
  background: #D9D9D9;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.80);
  border-radius: 10px;
  margin-left: auto;
  margin-right:auto;
  overflow: hidden;
}

.colums {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 7px;
  height: 7px;
  background: #C90C0C;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  margin-left: 10px;
  margin-right:10px;
  margin-top: 10px;
}

.screen{
  width: 180px;
  height: 120px;
  background: #184707; /*#96F983*/
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.60), inset 0px -4px 4px rgba(0, 0, 0, 0.60);
border-radius: 8px;
  margin-left: 18px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  margin-right: 8px;
  height: 25px;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
}

#search-button {
  border-radius: 10px;
  background-color: #43ab1d;
  height: 30px;
  box-shadow: 3px 2px 6px #0d2604;
  font-weight: bold;
  color: #85eb60;
}

#search-button:active {
  background-color: #184707;
}

#sprite{
  height: 100%;
  width: 140px;
  visibility: hidden;
}



.pokeData {
  margin-top: 10px;
  height: 220px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-color: #bab6b6;
  border-radius: 10px;
  justify-content: space-between;
  align-items: start;
  box-shadow: inset 4px 5px 5px rgba(0, 0, 0, 0.60), inset 4px -4px 4px rgba(0, 0, 0, 0.60);
  border-right: 1px solid #fa5050;
  border-bottom: 1px solid #fa5050;
  border-top: 1px solid #fa5050;
}

.dataLeft{
  width: 130;
  height: 230px;
  margin-left: 10px;
}

table {
  margin-top: 16px;
  margin-right: 10px;
}

.twoLines{
  height: 40px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.twoLines p{
  margin-bottom: 5px;
  
}

span{
  font-weight: bold;
}

p {
  font-weight: bold;
}

td {
    text-align: right;
    height: 22px;
    padding-right: 3px;
}

tr:nth-child(even) {
  background: #d6d2d2;
}

tr:nth-child(odd) {
  background: #969696;
}

tr:nth-child(1) {
  background: #6e6e6e;
}

